* {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
}
h2{
  font-weight: 900!important;
}
section,
header{
    font-family: "Source Sans Pro", sans-serif !important;

}
#burger{
  display: none; 
  color: #000;  
}
#burger-menu{
  display: none; 
  color: #000;
}
.burger-menu_nav{
  min-width: 320px;
}
.burger-menu{
  display: none;
}
.burger-menu ul li a{
  color: #000;
}
span{
  color: #fff;
}


/* Бургер меню*/ 
@media (max-width: 992px) {
  .navigation {
    display: none!important;
  }

  /* Стилі для бургер-меню */
  input[type="checkbox"] {
    display: block;
    position: absolute;
    top: -9999px;
    opacity: 0;
  }

  label[for="burger"] {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    height: 26px;
    cursor: pointer;
    z-index: 999;
  }

  label[for="burger"] span {
    display: block;
    height: 4px;
    background: #fff;
    margin: 6px 0;
    border-radius: 5px;
    transition: 0.3s ease;
  }

  input:checked ~ label span:nth-child(1) {
    transform: rotate(-45deg);
    position: relative;
    top: 10px;
  }

  input:checked ~ label span:nth-child(2) {
    opacity: 0;
  }

  input:checked ~ label span:nth-child(3) {
    transform: rotate(45deg);
    position: relative;
    top: -10px;
  }

  nav.burger-menu {
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: #202020;
    overflow: hidden;
    z-index: 100;
    transition: height 0.4s ease;
    transition-delay: 0.3s;
  }


  input:checked ~ nav.burger-menu {
    height: 100vh;
    transition-delay: 0s;
  }


  nav.burger-menu ul {
    margin: 100px auto;
    width: 250px;
    list-style: none;
    padding: 0;
    text-align: center;
  }

  nav.burger-menu li {
    border-top: 1px solid rgba(255, 255, 255, 0.23);
    padding: 20px 0;
    margin: 20px 0;
  }


  nav.burger-menu li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    display: block;
    padding: 10px 0;
  }

    #burger {
      display: block;
      position: absolute;
      top: -9999px;
    }
  
    label[for="burger"] {
      display: block;
      position: absolute;
      top: 30px;
      right: 30px;
      width: 40px;
      height: 26px;
      cursor: pointer;
      z-index: 999;
    }
  
    label[for="burger"] span {
      display: block;
      height: 4px;
      background: #fff;
      margin: 6px 0;
      border-radius: 5px;
      transition: 0.3s ease;
    }
  
    #burger:checked + label span:nth-child(1) {
      transform: rotate(-45deg);
      position: relative;
      top: 10px;
    }
  
    #burger:checked + label span:nth-child(2) {
      opacity: 0;
    }
  
    #burger:checked + label span:nth-child(3) {
      transform: rotate(45deg);
      position: relative;
      top: -10px;
    }
  
    nav.burger-menu {
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      background: #202020;
      overflow: hidden;
      z-index: 999;
      transition: height 0.4s ease;
    }
  
    #burger:checked ~ nav.burger-menu {
      height: 500px;
    }
  
    nav.burger-menu ul {
      padding-top: 60px;
      list-style: none;
      text-align: center;
    }
  
    nav.burger-menu li {
      margin: 20px 0;
      border-top: 1px solid #444;
    }
  
    nav.burger-menu li a {
      color: #fff;
      font-size: 20px;
      text-decoration: none;
      display: block;
      padding: 10px 0;
    }

header {
      background-position: center center; 
    }
    .container {
      width: 90%;
      margin: 0 auto;
    }
  
    .menu {
      flex-direction: column;
      align-items: flex-start;
      padding-top: 20px;
    }
  
    .navigation {
      display: none;
    }
  
    .section1 {
      margin-top: 30px;
    }
  
    .section1-text {
      max-width: 100%;
      width: 420px;
      font-size: 14px;
    }
  
    .section1 h2 {
      font-size: 24px;
    }
  
    .section1 p {
      font-size: 16px;
    }

    .btn {
      width: 80%;
      padding-top: 14px;
      font-size: 14px;
    }
}

  
.menu{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

header {
  background: url(img/bg-header.png) no-repeat center top;
  background-size: cover;
  padding-bottom: 60px;
}
.logo h1{
  font-weight: 900;
  font-size: 2em;
}
  
.logo h2 {
    color: #3e3f45;
    width: 50px;
    font-size: 12px;
    margin: -38px 0 0 85px;
    font-weight: 900;
  }

  .logo {
    display: flex;
    align-items: center;
    padding-left: 58px;
    padding-top: 20px;
  }
  .logo-link:hover{
    text-decoration: none;
  }

.logo-link{
  list-style: none;
}
.navigation {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-weight: 900;
    margin-top: 20px;
    gap: 10px;
  }
.navigation a{
  position: relative;
  color: #fff;
}
.navigation a:hover{
  color: #fff;
  text-decoration: none;
}


.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background-image: url('img/blue_line.png');
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease;
  }
  .navigation a:hover::after {
    opacity: 1;
  }

  .section1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
  }

  .section1-text {
    max-width: 50%;
  }

  .section1 h1 {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 900;
  }

  .section1 p {
    font-size: 18px;
    line-height: 1.5;
    margin: 30px 0;
    padding-right: 10px;
    color: #79797b;
  }


  .buttons {
    display: flex;
    gap: 20px;
  }

.button1 {
  width: 160px;
  height: 50px;
  display: flex;             
  justify-content: center;     
  align-items: center;       
  text-decoration: none;
  font-size: 12px;
  font-weight: 900;
  color: white;
  border-radius: 4px;
  background-color: #008ed6;
  border: none;
  transition: background-color 0.5s ease;
  padding: 0;               
}

  .button1:hover{
    background-color: #0020d6;
    color: #fff;
    text-decoration: none;
  }

  .button2 {
    width: 160px;
    height: 50px;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    color: #fff;
    padding-top: 16px;
    border-radius: 4px;
    font-weight: 900;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    transition: background-color 0.5s ease;
  }
  .button2:hover{
    background-color: #fff;
    color: #008ed6;
    text-decoration: none;
  }

/* Section2 */
.underline{
  display: flex; 
  gap: 5px;
  justify-content: left;
  padding-top: 20px;
}
.icons1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 40px 0;
  
}
.feature-img {
  display: block;
  margin: 0 auto;
  margin-top: 26px;
}
.icons-card{
  margin: 0 auto 20px;
  flex: 0 1 calc(25% - 30px); 
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 992px) {
  .icons-card {
    flex: 0 1 calc(50% - 30px);
  }
}

@media (max-width: 600px) {
  .icons-card {
    flex: 0 1 100%;
  }
}
.icons-card h2 {
  text-align: center;
  color:black;
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 22px;
}
.icons-card p {
  text-align: center;
  color: #b4b4b4;
  margin: 0;
  flex-grow: 1;
  width: 240px;
}
.border-icons{
  height: 90px;
  width: 90px;
  border: 1.5px solid #e5e5e5;
  border-radius: 50%;
  text-align: center;
  
}
.icons-card:hover > .border-icons{
  border: 1.5px solid #008ed6;
  transition: .5s;
}

/* Section 3*/
.section3{
  border-top: 2px solid #ededed;
}

.section3-content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;  
  align-items: center;
  justify-content: center;
}
.section3-content img {
  max-width: 100%;
}
.section3-text{
  padding-top: 65px;
  flex: 1 1 400px;
  max-width: 600px;
}


.icons2-list{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  
}
.icons2-list h2{
  padding: 10px 0;
  color: black;
  font-size: 18px;
}
.list-item{
  display: flex;
  align-items: center;
  gap: 15px;
}

@media (max-width: 768px) {
  .section3-content .section4-content {
    flex-direction: column;
    text-align: center;
  }

  .underline {
    justify-content: center;
  }
  .section4 img .section3 img {
        padding-top: 30px;
        max-width: 80%;
      }
}
.section4{
  background-color: #f5f7f9;
  padding-bottom: 50px;
}
.section4-content {
      display: flex;
      flex-wrap: wrap;  
      align-items: center;
      justify-content: center;
    }
.section4-text{
  padding-top: 100px;
}
.section5{
  background: url(img/background_slick.png) no-repeat center top;
  background-size: cover;
  padding-bottom: 40px;
}
.slide{
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.slider-card {
  width: 48%; 
  padding: 20px;
  border-radius: 8px;
}
.slider p{
  font-style: italic;
  font-size: 18px;
}
.about-author{
  display: flex;
  padding-top: 20px;
}
.slider h3{
  margin: 8px 0;
  font-size: 14px;
}
.slider img{
  padding-right: 10px;
}

.slick-dots li button:before {
    display: none !important;
}

.slick-dots li button.custom-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #fff;
    background: transparent;
    cursor: pointer;
    padding: 0;
    font-size: 0;
    color: transparent;
    transition: all 0.3s ease;
}


.slick-dots li.slick-active button.custom-dot {
    background: #fff;
}
.slick-dots li {
    margin: 0 15px !important; 
    padding-top: 50px!important;
}
.section5-bottom{
  background-color: #000;  
}

.pricing-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
}

.pricing-card {
  flex: 1;
  min-width: 250px;
  max-width: 300px;
  background: #ffffff;
  border: 2px solid #e0e0e0;
  overflow: hidden;
  transition: all 0.5s ease;
}
.pricing-top{
  text-align: center;
  border-bottom:2px solid #e0e0e0 ;
  width: 100%;
  padding: 25px 0;
}
.pricing-middle{
  text-align: center;
  border-bottom:2px solid #e0e0e0 ;
  padding: 20px 0;
  transition: all 0.5s ease;
}
.pricing-card:hover .pricing-middle {
  background-color: #008ed6;
}
.pricing-card:hover .pricing-title {
  color: #008ed6;
}
.pricing-price p{
  color: #000;
}
.pricing-card:hover .pricing-price p{
  color: #fff;
}
.pricing-card:hover .pricing-price span{
  color: #fff;
}
.pricing-price span{
  font-size: 25px;
  vertical-align: top;
  color: #000;
  margin-top: 10px;
  margin-right: 2px;
}
.pricing-price {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
}

.pricing-title {
  font-size: 18px;
  font-weight: 900;
  color: #000000;
}

.pricing-period {
  font-size: 12px;
  color: #b4b4b4;
}

.pricing-features {
  color: #b4b4b4;
  margin: 50px;
  font-size: 12px;
}

.pricing-features p {
  color: #b4b4b4;
  text-align: center;
  font-size: 12px;
}

.pricing-button {
  background-color: #fff;
  font-size: 12px;
  text-decoration: none;
  color: #008fd6;
  border: 2px solid #e0e0e0;
  display: block;
  text-align: center;
  padding: 1rem 2rem;
  text-decoration: none;
  font-weight: 900;
  border-radius: 5px;
  margin: 0 2rem 2rem;
  transition: all 0.5s ease;
}

.pricing-button:hover {
  background-color: #008ed6;
  color: #fff;
  text-decoration: none;
}

b {
  font-weight: 600;
  color: #008ed6;
}

@media (max-width: 1200px) {
  .pricing-card {
    min-width: 200px;
  }
}

@media (max-width: 900px) {
  .pricing-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .pricing-card {
    max-width: 400px;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .pricing-container {
    grid-template-columns: 1fr;
  }
}


.info-content {
  padding-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.info-card{
  text-align: center;
}
.info-paragraph p{
  font-weight: bold;
  padding-top: 10px;
  margin-bottom: -10px;
}
/* Section8 */
.section8 {
      position: relative;
      width: 100%;
      height: 500px;
    }

.form-overlay {
    background-color: #000;
    display: flex;
    justify-content: center;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 90%;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    z-index: 10;
  }
  .form-control,
textarea.form-control,
.btn {
  border-radius: 1px !important;
}
.form-overlay button {
  width: 120px;
  height: 40px;
  display: flex;             
  justify-content: center;     
  align-items: center;       
  text-decoration: none;
  font-size: 12px;
  font-weight: 900;
  color: white;
  border-radius: 4px;
  background-color: #008ed6;
  border: none;
  transition: background-color 0.5s ease;
  padding: 0;
}

.send-messege textarea {
  resize: none;
  height: 500px!important; 
  width: 100%;
}

.form-control {
    background-color: #000;
    border: 1px solid #79797b;
    border-radius: 0;
}

.form-overlay textarea {
   resize: none;
   height: 146px!important;
}
.form-overlay input, textarea{
  background-color: #000!important;
}


    @media (max-width: 768px) {
      .form-overlay .row {
        flex-direction: column;
      }
    }
@media (max-width: 575.98px) {
  .form-overlay .btn {
    width: 100%;
    font-size: 14px !important;
    align-self: stretch !important;
  }
}

.map{
  width: 100%;
  height: 500px; 
  padding-top: 30px;
}
.map iframe{
  width: 100%;
  height: 100%;
}
footer{
  background-color: #000;
}
.footer-icons{
justify-content: center;
 display: flex;
 padding-top: 20px;
 color: #79797b;
 gap: 18px;
}
.footer-icons a{
  font-size: 24px;
  margin: 0 10px;
  color: #79797b;
  transition: color 0.5s;
}
.footer-icons i{
  color: #79797b;
  transition: color 0.5s;
}

i:hover {
  color: #008ed6;
}
